* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* min-height: 100vh; */
}

/* .robo_card {
  background-color: lightblue;
  display: inline-block;
  border-radius: 10px;
} */